.p-font-industries {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 170.7%;
  color: #000000;
  opacity: 0.7;
  margin: 10px 10px 10px 10px;
}
.marketing-strategy {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}
.marketing-strategy .address {
  color: #000000;
  text-decoration: none;
  line-height: 50px;
}
.contact-style {
  /* width: 452.14px; */
  height: 65px;
  left: 746.39px;
  top: 186.28px;

  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 15px;
}
.contact-form {
  background: #ffffff;
  box-shadow: 0px 69px 114px rgba(175, 108, 108, 0.08);
  border-radius: 20px;
}
.contact-style-button {
  width: 445px;
  height: 60.45px;
  background: #f9bc6e;
  border-radius: 15px;
}
.social-icon2 {
  margin: 2px 20px 0px 0px;
  line-height: 76px;
}
.book-button {
  border: 2px solid #f9bc6e;
  border-radius: 15px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 69px 114px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  color: #f9bc6e;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}
.btn-submit {
  padding: 27px 265px 10px 60px;
  background: #f9bc6e;
  border-radius: 15px;
}

.contact-font {
  font-weight: 700;
  font-size: 42px;
  line-height: 129.7%;
  color: #000000;
}
.contact-margin {
  margin: 70px 19px 40px 60px;
}
.marketing-contact {
  background: #ffffff;
  box-shadow: 0px 69px 114px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.formValidation .has-error .help-block {
  color: #d06868;
  font-size: 12px;
  line-height: 1.1;
  font-style: italic;
}
.busines-card {
  height: 100%;
  border: 0;
}
.industries-card {
  height: 280px;
  /* width: 330px; */
}
.cards-indus {
  background: #ffffff;
  box-shadow: 0px 69px 114px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}
.digital-marketing {
  padding: 150px 0 150px 0;
  background: #f9bc6e;
}
.form-control2 {
  width: 438.65px;
  height: 77px;
  left: 740.68px;
  top: 327.67px;

  background: #c59e6f;
  border-radius: 1000px;
}
.market-consolution {
  max-width: 800px;
  margin: 0 auto;
}
.digital-h {
  height: 51px;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 128.3%;
  text-align: center;
  color: #ffffff;
}
.digital-p {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
/* ====our-testimonial====== */
.work-section {
  margin-bottom: 100px;
}
.page-header4:after {
  content: "";
  position: relative;
  display: block;
  background: #009bd9;
  border-right: 3px solid #fff;
  left: calc(48% - 21px);
  width: 89px;
  height: 3px;
  background: #f9bc6e;
  border-radius: 1000px;
  background: #f9bc6e;
  /* left: 186px; */
  bottom: 90px;
}
.page-header5 {
  width: 1410px;
  height: 6px;
  background: #f9bc6e;
  border-radius: 20px 20px 0px 0px;
}

.testimonial {
  text-align: center;
  margin: 120px 25px 120px 25px;
}
.carouseles {
  width: 60%;
  margin: auto;
}
.testimonial-cards {
  background: pink;
  box-shadow: 0px 69px 114px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.img2 {
  width: 120px;
  margin: 72px 79px 70px 150px;
}
.gola1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  width: 470px;
  letter-spacing: 0.2px;
  color: #f9bc6e;
  padding: 80px 70px 32px 0px;
}
.carousel-control-next-icon {
  background-image: url("../images/arrow-right.svg");
  position: absolute;
  top: 210px;
  right: 110px;
  width: 100px;
  height: 100px;
}
.carousel-control-prev-icon {
  background-image: url("../images/arrow-left.svg");
  position: absolute;
  top: 210px;
  left: 520px;
  width: 100px;
  height: 100px;
}
.testimoiall-margin {
  margin: 50px 20px 40px 130px;
}

.p-testiomiall {
  position: relative;
  top: 100px;
  width: 324px;
}
/* ====our-testimonial end====== */
/* <!-- ================social-media-growth-section========== --> */
.growth {
  padding: 60px 10px 10px 10px;
}
.growth-h {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 128.3%;
  color: #ffffff;
}
.growth-p {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}
.growth-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 1000px;
  color: white;
  padding: 15px 40px 15px 40px;
  margin: 5px 5px 5px 5px;
  background: #c59e6f;
  border-radius: 1000px;
}
.growth-section {
  padding: 100px 40px 100px 0px;
  background: #f9bc6e;
}
/* .watch { */
/* height: 214px; */
/* } */
.companies {
  margin: 100px 10px 10px 10px;
}
.companies-p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 119.7%;
  color: #000000;
  opacity: 0.7;
}
